@import "./css/_variables.css";

.btn {
  color: var(--card-color-one);
}

h3.header-text {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 4px 0px;
}

.btn-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.btn {
  background: var(--btn-primary);
  color: var(--white);
  width: 80%;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0px 4px var(--card-color-one);
  margin: 5px 0px;
  border: none;
  padding: 8px 0px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 5rem;
  color: var(--white);
}

/*Modifying the CSS for mobile.*/
@media only screen and (max-width: 375px) {
  .header {
    color: var(--white);
    background-color: var(--black-lighter);
  }
  .body-bg-color {
    background-color: var(--black);
  }
  .mobile-device-layout {
    display: none;
  }
  .btn {
    margin: 0px 4px;
    width: 30%;
  }
  .btn-container {
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
  }
  .container {
    background-color: var(--white);
  }
  .card {
    height: 7.7vh;
    font-size: larger;
    color: var(--black);
    background-color: var(--grey-lighter);
    margin: 4px 0px;
  }
  .card:first-child {
    margin-top: 14px;
  }
  .card:last-child {
    margin-bottom: 8px;
  }
  .mobile-card-layout {
    padding: 0px 1rem;
  }
}

/*Modifying the CSS for devices other than mobile.*/
@media only screen and (min-width: 376px) {
  .header {
    color: var(--black-lighter);
    background-color: var(--white);
    border-bottom: 5px solid var(--card-color-three);
  }
  .body-bg-color {
    background-color: var(--grey-lighter);
    margin: 4px 0px;
  }
  .tab-desktop-layout {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1%;
}
