:root {
    --black: #000000;
    --black-lighter: #333333;
    --white: #FFFFFF;
    --grey-lighter: #EFEFEF;
    --btn-primary: #72C3DC;
    --card-color-one: #2B8EAD;
    --card-color-two: #6F98A8;
    --card-color-three: #BFBFBF;
    --card-color-four: #2F454E;
  }